
.container-cardapio {
  margin: 20px;
}

.container-cardapio h2 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 22px
}

.content-cardapio {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

.container-contato {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.container-contato h2 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 22px
}



